* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
   
    width: 20%;
    height: 30%;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    /* overflow: hidden; */
}

.img-section{
    display: flex;
    height: 111px;
    width: 223px;
    overflow: hidden;
}

.slide1{
    
}

.slide {
    width: 100%;
    height: 100%;
    transition: 1s;
    /* position: absolute; */
}

.nav {
    text-align: center;
    margin-top: 15px;
}

.nav button {
    font-size: 25px;
    padding: 5px;
}