*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(133, 196, 238);
    overflow: hidden;
}


.face{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.eyes{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

}

.eye{
    width: 250px;
    height: 140px;
    background-color: gold;    
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 3px); */
    overflow : hidden;

}

.pupil{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    /* transform: translateX(45px); */
    
}

