:root{
    --dark-blue:#14007a;
    --blue:#1a009c;
    --light-blue:rgb(74,225,255);
    --pink:rgb(255,40,113);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: sans-serif;
    background-image: linear-gradient(45deg,var(--light-blue),var(--blue));
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-editor{
    height: 90vh;
    width: 90vw;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;

}

.code{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    overflow-y: auto;

    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
}

h1{
    font-size: 1.2rem;
    margin: 1rem 0;
}

h1 img{
    width: 1.3rem;
    margin-right: 1rem;

}

.js-code img{
    scale: 1.7;
}

.code textarea{
    width: 100%;
    background-color: var(--blue);
    height: calc(100%-4rem);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
    color: lightblue;
    resize: vertical;
}

.code textarea::-webkit-scrollbar{
    width: 0.4rem;
}

.code textarea::-webkit-scrollbar-thumb{
    background-color: pink;
    border-radius: 0.4rem;

}

#result{
    width: 100%;
    height: 100%;
    border: none;
    
}

