body{
    background-color: white;
    font-family: "Poppins",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#timer{
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 2px 2px #f8a5c2;
    color: #f92672;
    width: 600px;
    text-align: center;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    font-size: 1.5rem;
}

#buttons{
    display: flex;
    justify-content: center;
    
}

button{
    background-color: #f92672;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 4rem;
    margin: 1rem;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #f8a5c2;
}

button:hover{
    background-color: #f44583;
}



