@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
  height: 100vh;
  
  
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}


.text-center{
    text-align: center;
  }
  
  .bg-red{
    background: red;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }


.onlybtns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}